name: terraform build workflow

on:
  push:
    branches:
      - main
    paths:
      - '*.tf'
      - 'userdata.sh'

concurrency:
  group: terraform
  cancel-in-progress: false

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  BUCKET_KEY: ${{ secrets.BUCKET_KEY }}
  BUCKET_ENDPOINT: ${{ secrets.BUCKET_ENDPOINT }}
  BUCKET_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY_ID }}
  BUCKET_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_ACCESS_KEY }}
  TF_VAR_ssh_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
  TF_VAR_allowed_ssh_cidrs: ${{ secrets.ALLOWED_SSH_CIDRS }}

jobs:
  terraform-deploy:
    environment: prod
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/drewpypro/kube-aws-istio:latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Verify Backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_ACCESS_KEY }}
        run: |
          echo "Runner IP: $(curl -s https://ifconfig.me/ip)"
          aws s3 ls s3://$BUCKET_NAME --endpoint-url $BUCKET_ENDPOINT

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=$BUCKET_NAME" \
            -backend-config="key=$BUCKET_KEY" \
            -backend-config="endpoint=$BUCKET_ENDPOINT" \
            -backend-config="access_key=$BUCKET_ACCESS_KEY_ID" \
            -backend-config="secret_key=$BUCKET_SECRET_ACCESS_KEY"

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: terraform apply -auto-approve
